.heading {
    font-weight: 200;
    color: rgb(104, 51, 14); 
    background: linear-gradient( pink,rgb(255, 255, 221),rgb(255, 255, 221), pink);
    background-clip: text;
    text-align: center;
}

body {
    background:rgb(255, 229, 244);
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-decoration: none !important;

}

#cc {
    color: linear-gradient(rgb(255, 247, 175) rgb(129, 71, 20));
}

#fb {
    color: linear-gradient(chocolate,  rgb(129, 71, 20));
}

#trl {
    color: linear-gradient(rgb(255, 104, 129),rgb(255, 247, 175));
}